.container {
  background: transparent;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
  cursor: pointer;
  animation: test 4s infinite linear; }

@keyframes test {
  0% {
    transform: rotate3d(1, 4, 1, 60deg); }
  100% {
    transform: rotate3d(1, 4, 1, -300deg); } }
  .container.stretch {
    height: 600px;
    width: 800px;
    transform-style: flat;
    transform: rotate3d(0);
    animation: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    grid-gap: 50px; }
  .container div {
    text-align: center;
    border-radius: 5px; }
    .container div p {
      font-size: 3rem; }
    .container div.transformN {
      transform: none;
      position: relative; }
  .container .face1 {
    width: 200px;
    height: 200px;
    background: rgba(255, 0, 0, 0.164);
    position: absolute;
    background-image: url("../../src/img/cats.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    transform: rotateY(0deg) translateZ(100px); }
  .container .face2 {
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 255, 0.507);
    transition: 1s;
    position: absolute;
    transform: rotateY(90deg) translateZ(100px);
    transition: 1s;
    background-image: url("../../src/img/drunkycat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .container .face3 {
    width: 200px;
    height: 200px;
    background: rgba(0, 128, 0, 0.527);
    transition: 1s;
    position: absolute;
    transform: rotateY(180deg) translateZ(100px);
    background-image: url("../../src/img/elephent.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .container .face4 {
    width: 200px;
    height: 200px;
    background: rgba(255, 123, 0, 0.562);
    transition: 1s;
    position: absolute;
    transform: rotateY(-90deg) translateZ(100px);
    background-image: url("../../src/img/stupdog.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .container .face5 {
    width: 200px;
    height: 200px;
    background: rgba(128, 0, 128, 0.514);
    transition: 1s;
    position: absolute;
    transform: rotateX(90deg) translateZ(100px);
    background-image: url("../../src/img/wolf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .container .face6 {
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.555);
    transition: 1s;
    position: absolute;
    transform: rotateX(-90deg) translateZ(100px);
    background-image: url("../../src/img/youga.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
